---
layout: default.hbs
subject: Simple Newsletter Email
---
<div style="display: none; max-height: 0px; overflow: hidden;">
Elecciones en Latinoamérica - Varias elecciones podrían cambiar la relación de fuerzas políticas en la región. En la agenda está el debate sobre el desencanto con el populismo y la corrupción.
</div>

<div style="display: none; max-height: 0px; overflow: hidden;">
&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;
</div>

{{!-- <span class="preheader">Diálogo Político | Boletín nº 44.</span> --}}
<table class="main">
  <tr>
    <td class="wrapper">
      <table>
        <tr>
          <td>
            <p class="xs-plain"> Diálogo Político&nbsp;&nbsp;|&nbsp;&nbsp;Boletín nº 44 </p>
            <hr class="compact-separator">

            <table>
              <tr>
                <td>
                  <a href="http://www.kas.de/uruguay/es/" target="_blank" title="KAF Oficina Uruguay" >
                    <img src="../img/kas_logo_2x.png" alt="Logotipo FUNDACIÓN KONRAD ADENAUER" class="logo">
                  </a>
                </td>
                <td class="align-right">
                  <a href="http://dialogopolitico.org" target="_blank" title="Diálogo Pólítico" rel="noopener noreferrer">
                    <img src="../img/logo_dialogo_politico_2x.jpg" alt="Logotipo Portal dialogopolitico.org" class="logo">
                  </a>
                </td>
              </tr>
            </table>

            {{> divider }}

            {{> main_story
                image='main_story_picture.jpg'
                image-alt='Elecciones en Latinoamérica'
                image-credit='Imagen de _ Autor de la imagen _'
                article-link='http://dialogopolitico.org/comunicacion/2018-ano-de-maraton-electoral-en-america-latina-i/?utm_source=Konrad-Adenauer-Stiftung&utm_medium=email&utm_campaign=13-03-2018+Bolet%C3%ADn+44+Di%C3%A1logo+Pol%C3%ADtico+&utm_content=Mailing_7032834'
                category='Comunicación'
                title='La maratón electoral en América Latina'
                author='Sören Soika'
                resume='Varias elecciones podrían cambiar la relación de fuerzas políticas en la región. En la agenda está el debate sobre el desencanto con el populismo y la corrupción.'
            }}

            {{> divider type='compact' }}

            {{> secondary_story
                image='first_story_picture.jpg'
                image-alt='Sen. Verónica Alonso acompañada de Christina Schweiger, Sandra Wahle, Dra. Kristin Wesemann y Alessandra Herdeg'
                image-credit='Imagen de Nombre fotógrafo'
                article-link='http://dialogopolitico.org/testimonios/mujeres-en-politica-del-dicho-al-hecho/?utm_source=Konrad-Adenauer-Stiftung&utm_medium=email&utm_campaign=13-03-2018+Bolet%C3%ADn+44+Di%C3%A1logo+Pol%C3%ADtico+&utm_content=Mailing_7032834'
                category='Testimonios'
                title='Mujeres en política: del dicho al hecho'
                author='Verónica Alonso'
                resume='La idea de crear un espacio de formación y capacitación para empoderar a muchas mujeres con herramientas concretas que las animen a participar en la actividad política como nuevas dirigentes y líderes, dio como resultado el Centro de Formación para Mujeres Políticas en Uruguay.'
            }}

            {{> divider type='compact' }}

            {{> secondary_story
                image='second_story_picture.jpg'
                image-alt='Participantes del Campus KAS «Mujeres y medios de comunicación», Colonia de Sacramento, Uruguay, marzo de 2018'
                article-link='http://dialogopolitico.org/debates/el-tiempo-y-nosotras-contra-tres/?utm_source=Konrad-Adenauer-Stiftung&utm_medium=email&utm_campaign=13-03-2018+Bolet%C3%ADn+44+Di%C3%A1logo+Pol%C3%ADtico+&utm_content=Mailing_7032834'
                category='Debates'
                title='El tiempo y nosotras'
                author='Paola de Alemán'
                resume='Se promovió con fuerza una huelga mundial para reivindicar los derechos de las mujeres y exigir igualdad. Hay reflexiones interesantes y posturas que ocupan distintos espectros de la radicalidad. El Día Internacional de la Mujer deja varias ideas para debatir en todo el planeta. ¿Cuáles son?'
            }}

            {{> divider type='compact' }}

            {{> secondary_story
                image='third_story_picture.jpg'
                image-alt='Participantes del Campus KAS «Mujeres y medios de comunicación», Colonia de Sacramento, Uruguay, marzo de 2018'
                image-credit='Imagen de Nombre fotógrafo'
                article-link='http://dialogopolitico.org/comunicacion/colombia-tras-las-legislativas-arranca-la-campana-presidencial/?utm_source=Konrad-Adenauer-Stiftung&utm_medium=email&utm_campaign=13-03-2018+Bolet%C3%ADn+44+Di%C3%A1logo+Pol%C3%ADtico+&utm_content=Mailing_7032834'
                category='Comunicación'
                title='Arranca la carrera presidencial'
                author='José Alejandro Cepeda'
                resume='Las elecciones legislativas en Colombia ratificaron dos cosas: el país posee una democracia electoral estable que lo ha protegido en sus horas más oscuras, y el grueso de su electorado se identifica con la centro-derecha. ¿Cuáles son los próximos escenarios posibles?'
            }}

          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<div class="footer">
  <table>
    <tr>
      <td class="align-center">

        {{> networks
            message='( ( ( Síguenos en las redes sociales ) ) )'
            instagram-link='https://www.instagram.com/explore/locations/817761946/?utm_source=Konrad-Adenauer-Stiftung&utm_medium=email&utm_campaign=13-03-2018+Bolet%C3%ADn+44+Di%C3%A1logo+Pol%C3%ADtico+&utm_content=Mailing_7032834'
            youtube-link='https://www.youtube.com/channel/UCXSO4SCEC7k_YUY_nBYgP_Q?utm_source=Konrad-Adenauer-Stiftung&utm_medium=email&utm_campaign=13-03-2018+Bolet%C3%ADn+44+Di%C3%A1logo+Pol%C3%ADtico+&utm_content=Mailing_7032834'
            twitter-link='http://twitter.com'
            facebook-link='https://www.facebook.com/fkamontevideo?utm_source=Konrad-Adenauer-Stiftung&utm_medium=email&utm_campaign=13-03-2018+Bolet%C3%ADn+44+Di%C3%A1logo+Pol%C3%ADtico+&utm_content=Mailing_7032834'
        }}

        {{> divider type='compact' }}

        <table class="footer-content-wrapper">
          <tr>
            <td class="align-left">
              <a href="http://www.kas.de/uruguay/es/" target="_blank" title="KAF Oficina Uruguay" class="kas-footer-link">
                <img src="../img/kas_logo_2x.png" alt="Logotipo FUNDACIÓN KONRAD ADENAUER" class="logo">
              </a>
              <p class="kas-caption">Fundación Konrad Adenauer</p>
              <small class="kas-mini-caption">Oficina Montevideo</small>
              <p>
                <a href="https://www.google.com/maps/place/oficina+201,+Plaza+Independencia+749,+11000+Montevideo/@-34.9059749,-56.2021452,17z/data=!3m1!4b1!4m5!3m4!1s0x959f802ba7932117:0x359a5ec0415fa25c!8m2!3d-34.9059749!4d-56.1999565">Plaza de Independencia 749, oficina 201 </a><br>
                11.000 Montevideo, Uruguay <br>
                <a href="tel:+59829020943">Tel. +598 2902 09 43</a><br>
                <a href="http://www.kas.de/uruguay/es/" target="_blank">www.kas.de/uruguay/es/</a>
              </p>
            </td>
            <td class="align-right responsive-shadow-footer">
              <p>Usted recibe este boletín porque ha sido incluido en <br>la base de datos de <a href="http://www.dialogopolitico.org">www.dialogopolitico.org&nbsp;©</a></p>
              <p>¿Quieres salir de la lista de distribución?<br>
              <a href="http://119091.mailings.kas.de/f/119091-191199/wwu/"><unsubscribe>Dar de baja</unsubscribe></a></p>
              <a href="http://119091.mailings.kas.de/f/119091-191199/wwu/">© Konrad-Adenauer-Stiftung e.V. 2018</a>
            </td>
          </tr>
        </table>

        {{> divider type='compact' class='shadow-footer-divider' }}

        <table class="shadow-footer">
          <tr>
            <td>
              <p>Usted recibe este boletín porque ha sido incluido en <br>la base de datos de <a href="http://www.dialogopolitico.org">www.dialogopolitico.org&nbsp;©</a></p>
              <p>¿Quieres salir de la lista de distribución?<br>
              <a href="http://119091.mailings.kas.de/f/119091-191199/wwu/"><unsubscribe>Dar de baja</unsubscribe></a></p>
              <a href="http://119091.mailings.kas.de/f/119091-191199/wwu/">© Konrad-Adenauer-Stiftung e.V. 2018</a>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>